* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #1C1C1C;
}

main {
    height: 45.5625rem;
    width: 35.375rem;
    background: #F4F4F4;
    font-family: 'Inter', sans-serif;
    margin: 0 auto;
}

h1, p {
    margin: 0;
}

header {
    height: 17.8125rem;
    background: #6943FF;
    padding: 2.12rem 3.16rem;
}

h1 {
    color: #FFF;
    text-align: center;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 800;
    line-height: 2.375rem;
    letter-spacing: -0.0525rem;
}

input[type="text"] {
    width: 7.3125rem;
    height: 5.1875rem;
    border-radius: .3125rem;
    border: 2px solid #B295FF;
    background: none;
    color: #FFF;
    text-align: center;
    font-size: 3.625rem;
    font-style: normal;
    font-weight: 800;
    line-height: 1.52456rem;
    display: block;
    margin: 1.88rem auto 1.56rem;
}

#convert-btn {
    padding: .56rem 1.72rem;
    display: block;
    margin: 0 auto;
    border-radius: .3125rem;
    border: none;   
    background: #FFF;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    color: #3D3D3D;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem;
}

.conversions-section {
    padding: 2.21rem 1.56rem;
}

.conversion {
    width: 31.25rem;
    height: 6.78581rem;
    border-radius: 0.29256rem 0rem 0rem 0rem;
    background: #FFF;
    margin: 1.46rem auto;
    border-radius: 0.29256rem 0rem 0rem 0rem;
    text-align: center;
    padding: 1.94rem 4.81rem 1.16rem;
}

.conversion.top {
    margin-top: 0;
}

.conversion.bottom {
    margin-bottom: 0;
}

.unit {
    color: #5A537B;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25rem;
}

.length,
.volume,
.mass {
    margin-top: 0.56rem;
    color: #353535;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
}

.border-black {
    border: 1px solid black;
}